<html lang="en">
  <head>
  </head>
  <body style="margin: auto; direction: rtl; max-width: 320px; box-sizing: border-box;">
    <div style="padding: 20px; border: 1px solid black; border-radius: 4px; box-sizing: border-box;">
      <h2 style="text-align: center; font-weight: bold; margin-bottom: 30px; margin-top: 0px; box-sizing: border-box;">فرم بازیابی رمز عبور لیانچو</h2>
      <form
        name="resetForm"
        action="{{passwordResetLink}}"
        method="post"
      >
        <div style="display: block; box-sizing: border-box;">
          <label style="display: block; text-align: right; margin-bottom: 6px; box-sizing: border-box;" for="password">رمز عبور جدید</label>
          <input style="display: block; width: 100%; margin-bottom: 12px; box-sizing: border-box;" type="password" id="password" name="password" required />
        </div>
        <div style="display: block; box-sizing: border-box;">
          <label style="display: block; text-align: right; margin-bottom: 6px; box-sizing: border-box;" for="confirmPassword">تکرار رمز عبور جدید</label>
          <input
            style="display: block; width: 100%; margin-bottom: 12px; box-sizing: border-box;"
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>

        <button style="margin-top: 10px; box-sizing: border-box;" type="submit">ثبت رمز عبور</button>
      </form>
    </div>
  </body>
</html>