// English Numerals Fonts

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 10;
  src: url("../../.fonts/Dana-Hairline.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 100;
  src: url("../../.fonts/Dana-Thin.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 200;
  src: url("../../.fonts/Dana-UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 300;
  src: url("../../.fonts/Dana-Light.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 500;
  src: url("../../.fonts/Dana-Medium.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 600;
  src: url("../../.fonts/Dana-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 800;
  src: url("../../.fonts/Dana-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: 900;
  src: url("../../.fonts/Dana-Black.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: bold;
  src: url("../../.fonts/Dana-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Dana;
  font-style: normal;
	font-weight: normal;
  src: url("../../.fonts/Dana-Regular.ttf") format("truetype");
}

// Farsi Numerals Fonts

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 10;
  src: url("../../.fonts/DanaFaNum-Hairline.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 100;
  src: url("../../.fonts/DanaFaNum-Thin.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 200;
  src: url("../../.fonts/DanaFaNum-UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 300;
  src: url("../../.fonts/DanaFaNum-Light.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 500;
  src: url("../../.fonts/DanaFaNum-Medium.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 600;
  src: url("../../.fonts/DanaFaNum-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 800;
  src: url("../../.fonts/DanaFaNum-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: 900;
  src: url("../../.fonts/DanaFaNum-Black.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: bold;
  src: url("../../.fonts/DanaFaNum-Bold.ttf") format("truetype");
}

@font-face {
  font-family: DanaFaNum;
  font-style: normal;
	font-weight: normal;
  src: url("../../.fonts/DanaFaNum-Regular.ttf") format("truetype");
}